*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {all: unset;  display: revert;}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200 pt-10 pl-20 pr-20;
}

.light-blue {
    background-color: #EEEEF8;
}

.semi-blue {
    background-color: #F8F8FF;
}

.light-purple {
    background-color: #F5EEF8;
}

.light-green {
    background-color: #EEF7F8;
}

.light-brown {
    background-color: #F8F1EE;
}
